#footer{
    display: flex;
    flex-direction: column;
    background-color: #e8eeee;
    max-width: 100%;
    padding: 30px;
}

#footer h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(128, 124, 124);
}

#footer li{
    padding-bottom: 6px;
    padding-top: 7px;
    list-style: none;
}

#footer a{
    color: black;
    text-decoration: none;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(128, 124, 124);
}

#footer a:hover{
    text-decoration: underline;
}

#footer-1{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    background-color: #e8eeee;
    max-width: 100%;
    padding: 30px;  
}

#footer-2 a{
    padding: 13px;
}

#footer-2{
    display: flex;
    flex-direction: row;
}

#f-2{
    padding-left: 350px;
}